body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    clear: both;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

@font-face {
    font-family: 'pb';
  src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'pr';
  src: url(../fonts/Poppins-Regular.ttf);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.col-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    width: 8.33333%;
    padding: 0px 10px;
}

.col-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    width: 16.66667%;
    padding: 0px 10px;
}

.col-3 {
    flex-basis: 25%;
    max-width: 25%;
    width: 25%;
    padding: 0px 10px;
}

.col-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    width: 33.33333%;
    padding: 0px 10px;
}

.col-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    width: 41.66667%;
    padding: 0px 10px;
}

.col-6 {
    flex-basis: 50%;
    max-width: 50%;
    width: 50%;
    padding: 0px 10px;
}

.col-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    width: 58.33333%;
    padding: 0px 10px;
}

.col-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    width: 66.66667%;
    padding: 0px 10px;
}

.col-9 {
    flex-basis: 75%;
    max-width: 75%;
    width: 75%;
    padding: 0px 10px;
}

.col-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    width: 83.33333%;
    padding: 0px 10px;
}

.col-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    width: 91.66667%;
    padding: 0px 10px;
}

.col-12 {
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
    padding: 0px 10px;
}

.container {
    max-width: 1340px;
    margin: auto;
}

.header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 57px;
    margin-bottom: 65px;
}

.header .nav .logo {
    font-family: 'pr';
    font-size: 36px;
    color: #000;
}

.header .nav .logo span {
    color: #6b6b6b;
}

.header .nav ul {
    display: flex;
}

.header .nav ul li {
    margin: 0px 15px;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'pr';
}

.header .nav ul li a {
    color: #263238;
}

.header .nav .talk {
    padding: 17px 57px;
    border: 1px solid #263238;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'pr';
}

.header .header_body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header_body .left {
    position: relative;
}

.header .header_body .left .title {
    font-size: 64px;
    font-family: 'pb';
    font-weight: 400;
    width: 400px;
}

.header .header_body .left img {
    position: absolute;
    top: 110px;
    right: -38px;
}

.header .header_body .left p {
    margin-top: 40px;
    color: #8F95A5;
    font-size: 24px;
    font-family: 'pr';
}

.header .header_body .left .btn {
    padding: 37px 118px;
    background-color: #263238;
    border-radius: 15px;
    color: #fff;
    font-size: 36px;
    font-family: 'pr';
    margin-top: 61px;
    cursor: pointer;
}

.skills {
    margin-bottom: 252px;
}

.skills .title {
    text-align: center;
    font-size: 48px;
    font-family: 'pb';
    margin-top: 147px;
    margin-bottom: 96px;
}

.skills .item-1 {
    background-color: #F5F5F5;
    width: 435px;
    height: 894px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 35px 22px;
    position: relative;
    margin-right: 18px;
}

.skills .item-1 .item1_title {
    text-align: left;
    font-size: 30px;
    font-family: 'pb';
    color: #263238;
    text-align: left;
    margin-left: 22px;
}

.skills .item-1 p {
    margin-top: 35px;
    width: 347px;
    font-size: 16px;
    font-family: 'pr';
    line-height: 24px;
    color: #8F95A5;
    margin-left: 22px;
}

.skills .item-1 .btn {
    width: 230px;
    height: 60px;
    font-size: 18px;
    background-color: #263238;
    border-radius: 5px;
    color: #fff;
    margin-top: 36px;
    margin-left: 22px;
}

.skills .items {
    display: flex;
    flex-direction: column;
}

.skills .items .item-2 {
    display: flex;
    justify-content: space-between;
}

.skills .items .item-2 .item {
    width: 434px;
    height: 531px;
    background-color: #F5F5F5;
    border-radius: 10px;
    padding-left: 42px;
}

.skills .items .item-2 .item img {
    margin-left: 80px;
}

.skills .items .item-2 .item .top_title {
    font-size: 30px;
    font-family: 'pb';
}

.skills .items .item-2 .item p {
    line-height: 24px;
    font-size: 16px;
    font-family: 'pr';
    color: #8F95A5;
}

.skills .items .item-2 .item .btn {
    width: 218px;
    height: 60px;
    background-color: #263238;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 30px;
}

.skills .items .item-2 .item:nth-child(2) {
    margin-left: 18px;
}

.skills .items .item-2 .item:nth-child(2) img {
    margin-left: -48px;
    margin-bottom: 20px;
}

.skills .items .item-2 .item:nth-child(2) .top_title {
    margin-bottom: 10px;
}

.skills .items .item-2 .item:nth-child(2) p {
    margin-bottom: 10px;
}

.skills .items .item-3 {
    width: 885px;
    height: 343px;
    background-color: #F5F5F5;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skills .items .item-3 .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skills .items .item-3 .left .left_title {
    margin-top: -43px;
    font-size: 30px;
    font-family: 'pb';
    color: #263238;
}

.skills .items .item-3 .left p {
    line-height: 24px;
    font-family: 'pr';
    font-size: 16px;
    color: #8F95A5;
}

.skills .items .item-3 .left .btn {
    width: 218px;
    height: 60px;
    background-color: #263238;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 25px;
}

.about {
    display: flex;
    justify-content: space-between;
}

.about .about_left {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.about .about_left .about_title {
    font-size: 48px;
    font-family: 'pb';
}

.about .about_left p {
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
    font-family: 'pr';
    margin-top: 23px;
}

.about .about_left .counts {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .about_left .counts .count_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .about_left .counts .count_item .count {
    font-size: 48px;
    font-family: 'pb';
}

.about .about_left .counts .count_item .count_title {
    color: #8F95A5;
    font-size: 16px;
    font-family: 'pr';
}

.pricing_title {
    text-align: center;
    margin-top: 230px;
    margin-bottom: 70px;
    font-size: 48px;
    font-family: 'pb';
}

.pricing_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pricing_row .pricing_item {
    width: 435px;
    display: flex;
    flex-direction: column;
}

.pricing_row .pricing_item_title {
    font-size: 30px;
    line-height: 48px;
    font-family: 'pb';
    margin-top: 40px;
    margin-bottom: 19px;
}

.pricing_row .pricing_item p {
    color: #8F95A5;
    font-size: 20px;
    line-height: 30px;
    font-family: 'pr';
}

.pricing_row .pricing_item .price {
    margin-top: 29px;
    border-radius: 5px;
    width: 240px;
    font-size: 30px;
    font-family: 'pr';
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing_row .pricing_item .price span {
    color: #546269;
    font-size: 18px;
    font-family: 'pr';
    margin-left: 8px;
}

.pricing_row .pricing_item:nth-child(2) {
    position: relative;
}

.pricing_row .pricing_item:nth-child(2) .pricing_item_title {
    position: absolute;
    top: 80px;
}

.pricing_row .pricing_item:nth-child(2) p {
    position: absolute;
    top: 191px;
}

.pricing_row .pricing_item:nth-child(2) .price {
    position: absolute;
    top: 278px;
}

.pricing_row .pricing_item:nth-child(2) img {
    position: absolute;
    top: -278px;
}

.contact {
    display: flex;
    align-items: center;
    margin-top: 261px;
    border-bottom: 1px solid #C4C4C4;
}

.contact .contact_right {
    margin-left: 111px;
    display: flex;
    flex-direction: column;
}

.contact .contact_right .contact_title {
    font-size: 48px;
    font-family: 'pb';
    line-height: 80px;
    margin-bottom: 37px;
}

.contact .contact_right p {
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
    font-family: 'pr';
}

.contact .contact_right .sms {
    display: flex;
    margin-top: 52px;
}

.contact .contact_right .sms input {
    width: 450px;
    height: 80px;
    border-radius: 10px;
    padding-left: 33px;
    border: 1px solid #8F95A5;
    outline: none;
    margin-bottom: 220px;
}

.contact .contact_right .sms .btn {
    width: 264px;
    height: 80px;
    margin-left: 12px;
    background: #263238;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.footer p {
    color: #8F95A5;
    font-family: 'pr';
    font-size: 20px;
}
